{% extends 'base.html' %}

{title: 'Home'}

{% block content %}
<div class="row" >
    {% for post in post_list %}
    <div class="col-sm-6">
        <div class="card mb-4 mt-4 w-50">
            <div class="card-body">
                <h2 class="card-header">{{ post.title }}</h2>
                <p class="card-text text-muted h6">{{ post.author }} | {{ post.createdOn}} </p>
                <p class="card-text">{{post.content|slice:":200" }}</p>
                <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
