{% extends 'base.html' %}

{% block content %}

<div class="card m-5" style="background-color: #202020; color: #FFFFFF;">
    <table class="table table-borderless" style="color: #FFFFFF;">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">View Posts</th>
          <th scope="col">Update User</th>
          <th scope="col">Delete User</th>
        </tr>
      </thead>
      {% for user in user_list %}
      <tbody>
        <tr>
          <td>{{ user }}</td>
          <td><a href="{% url 'dashboard_view' user.pk %}" class="btn btn-sm btn-outline-success">View</a></td>
          <td><a href="{% url 'dashboard_edit' user.pk %}" class="btn btn-sm btn-outline-light">Update</a></td>
          <td><a href="{% url 'dashboard_delete' user.pk %}" class="btn btn-sm btn-outline-danger">Delete</a></td>
        </tr>
      </tbody>
      {% endfor %}
    </table>

    <a href="{% url 'dashboard_new' %}" class="btn btn-outline-success text-center">Create New User</a>

    <!-- <div class="card-body">
      <p class="card-text">{{ user }}</p>
      <a href="" class="btn btn-outline-success">View</a>
      <a href="{% url 'dashboard_edit' user.pk %}" class="btn btn-outline-light">Update</a>
      <a href="{% url 'dashboard_delete' user.pk %}" class="btn btn-outline-danger">Delete</a>
    </div> -->

{% endblock %}